.align-item-center{
  align-items: center;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10rem;
}
.p-1{
  padding: 1rem;
}

.ps-1{
  padding-left: 1rem !important;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24rpx;
  margin-bottom: 30px;
}

.title {
  display: block;
  margin: 20px 0;
  font-weight: 600;
}

.btn {
  display: block;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}
