.h3{
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pb-3{
  padding-bottom: 3rem;
}
.mb-1{
  margin-bottom: 1rem;
}
.w-100{
  width: 100% !important;
}
.pt-12{
  padding-top: 12rem;
}
.p-16{
  padding: 1.6rem !important;
}
.me-1{
  margin-right: .5rem;
}
.ms-1{
  margin-left: .5rem;
}
.p-1{
  padding: 1rem;
}
.px-1{
  padding-left: 1rem;
  padding-right: 1rem;
}
.ps-1{
  padding-left: 1rem !important;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.w-10{
  width: 10rem;
}
.align-item-center{
  align-items: center;
}
.fixed{
  position: fixed;
  bottom: .1rem;
  right: 0;
  left: 0;
  padding: 10px;
  margin: auto;
  background-color: #fff;
  .btn{
    width: 100%;
  }
}
page{
  --nutui-button-border-radius: .25rem;
	--nutui-uploader-preview-margin-right: 0;
  // --nutui-form-item-tip-font-size: .5rem;
  // --nutui-form-item-tip-text-align: left;
}
.nut-uploader__preview-img{
  // --nutui-uploader-picture-icon-tip-font-size: 0;
  .tips {
    display: none;
  }
}
.red-desc{
  // --nutui-cell-description-color: var(--nutui-form-item-error-message-color);
  --nutui-cell-description-color: red;
}
.notbtn{
  border: none !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
}
.d-block{
  display: block !important;
}
form{
  width: 98%;
}
.cell{
  .nut-cell__left{
    width: 60%;
  }
  .nut-cell__title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.article{
  .title{
    text-align: center;
    font-size: 1.5rem;
  }
  .meta{
    font-size: .8rem;
    color: grey;
  }
  .body{
  }
}
.text-align-right{
  text-align: right;
}
