.me-1{
  margin-right: .5rem;
}
.p-1{
  padding: 1rem;
}
.ps-1{
  padding-left: 1rem !important;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10rem;
}
.align-item-center{
  align-items: center;
}
.fixed{
  position: fixed;
  bottom: .1rem;
  right: 0;
  left: 0;
  padding: 10px;
  margin: auto;
  background-color: #fff;
  .btn{
    width: 100%;
  }
}
page{
  --nutui-button-border-radius: .25rem;
}
